<p>pagina principal productos!</p>
<hr>
<div class="row">
    <div class="col">
        <h3>PRODUCTOS</h3>
        <hr>
        <ul>
            <li>ACEITE -5.0</li>
            <li>CHIFLES -1.30</li>
            <li>PAPITAS -1.50</li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="agregar()" action="">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Poder">
            <button type="submit">Agregar</button>
        </form>
    </div>
</div>